ul {
  list-style: none;
}
li {
  list-style: none;
}
.first-step {
  font-size: 2rem;
  font-weight: bolder;
}
.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  width: 100%;
}
.input {
  width: 25%;
}
